.section{
  margin: 5%;
  padding: 50px 75px 95px 75px;
  background-color: white;
  border-radius: 2px;
  filter: drop-shadow(2px 2px 5px rgb(159, 159, 159));
}
.section-wide{
  margin: 0 0 5% 0;
  height: 75vh;
  padding: 4% 5% 95px 5%;
  background-color: white;
  border-radius: 2px;
  filter: drop-shadow(2px 2px 5px rgb(159, 159, 159));
}
#section-wide>img{
  width: 40%;
  object-fit: cover;
  padding: 0;
  margin-left: 0;
  margin-right: 50px;
  height: fit-content;
}
#big-cta{
  padding: 20px 30px;
  font-size: 1.8rem;
  border-radius: 45px;
  margin-bottom: 30px;
}
.transitioner{
  margin: 10% 0 0 45%;
  font-size: 1.3rem;
}
.transitioner:hover{
  color: #c6cbfe;
}
.flex{
  justify-content: space-between;
}
#hero-flex{
  text-align: center;
  margin-right: 50px;
}
.tip{
  margin: auto;
  margin-bottom: 30px;
}
#about, #how{
  height: 50vh;
}
.short-anchor{
  display: block;
  position: relative;
  top: 8vh;
  visibility: hidden;
}
.index-anchor{
  display: block;
  position: relative;
  top: -8vh;
  visibility: hidden;
}
#hero{
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 30px;
}
#home-container{
  display: flex;
  flex-direction: column;
}
.section>h2, .topic-text>h2, #hero-flex>h2{
  font-size: 2rem;
}
.flex>div{
  width: 40%;
}
.flex>img{
  padding-top: 50px;
  padding-left: 50px;
  height: 300px;
  width: 50%;
}
.topic{
  font-size: 2rem !important;
}
  
  .carousel {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    position:relative;
    width: 100%;
    padding: 90px 0;
    /* text-align: center; */
    /* transform: translate(-50%, -50%); */
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-inner > .item {
    position: relative;
    display: none;
    animation: 0.5s ease-in-out;
  }
  
  .carousel-inner > .active,
  .carousel-inner > .nextcar {
    display: block;
  }
  
  .carousel-inner > .nextcar {
    position: absolute;
    top: 0;
    width: 100%;
  }


  .carousel-inner > .to-left {
    animation-name: left;
  }
  
  .carousel-inner > .from-right {
    animation-name: right;
  }
  
  .carousel-inner > .to-right {
    animation-name: right;
    animation-direction: reverse;
  }
  
  .carousel-inner > .from-left {
    animation-name: left;
    animation-direction: reverse;
  }
  
  .container {
    margin: 0 auto;
  }

  .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5%;
    cursor: pointer;
  }

  .carousel-control.left{
    left: 14vh;
    right: auto;
  }
  
  .carousel-control.right {
    right: 10vh;
    left: auto;
  }
  
  .carousel-control > .arrow {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyNiAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+QXJyb3c8L3RpdGxlPjxwYXRoIGQ9Ik0yNS42IDEwLjk3NGwtOC41MyA4LjYyYTEuMzYgMS4zNiAwIDAgMS0xLjkzNS4wMDMgMS4zODcgMS4zODcgMCAwIDEtLjAwMi0xLjk1bDYuMjAxLTYuMjY4SDEuMzY4QTEuMzc0IDEuMzc0IDAgMCAxIDAgMTBjMC0uNzYyLjYxMy0xLjM4IDEuMzY4LTEuMzhoMTkuOTY2bC02LjItNi4yNjdhMS4zODcgMS4zODcgMCAwIDEgLjAwMS0xLjk1IDEuMzYgMS4zNiAwIDAgMSAxLjkzNi4wMDJsOC41MyA4LjYyMWMuNTMyLjUzOC41MzIgMS40MSAwIDEuOTQ4IiBmaWxsPSIjRkZGRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=") center center no-repeat;
    background-size: 26px 20px;
    opacity: 0.6;
    transform: translateY(-50%);
    filter: invert(1);
}
  
  .carousel-control > .arrow:hover {
    opacity: 0.8;
  }
  
  .carousel-control > .arrow.left {
    transform: translateY(-50%) rotate(180deg);
  }
  
  .carousel-control > .arrow.right {
    right: 50%;
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    padding-left: 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%);
  }
  
  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 10px;
  }
  
  .carousel-indicators li.active {
    background-color: #000000;
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }

@media screen and (max-width: 992px) {
  .carousel-control>.arrow {
      width: 60px;
      height: 60px;
      background-size: 56px 50px;
  }
  .carousel-control.left{
    left: 3vh;
    right: auto;
  }  
  .carousel-control.right {
    right: 3vh;
    left: auto;
  }
  .carousel-control{
    top: 30vh;
  }
  .flex>div{
    width: 100%;
  }
  .flex>img{
    width: 80%;
  }
  .transitioner{
    margin: 20% 0 0 25%;
    font-size: 1.8rem;
  }
  #big-cta{
    padding: 30px 40px;
    font-size: 2.8rem;
    border-radius: 65px;
    margin-bottom: 50px;
  }
  img{
    justify-content: center;
  }
  #section-wide>img{
    margin: 50px 0 50px 25%;
    width: 50%;
  }
  .short-anchor{
    display: block;
    position: relative;
    top: -5vh;
    visibility: hidden;
  }
  .index-anchor{
    display: block;
    position: relative;
    top: -23vh;
    visibility: hidden;
  }
}