/* general */
header{
    display: flex;
    padding: 5px 3% 5px 3%;
    position: sticky;
    top: 0;
    background-color: #bb0642;
}
h2{
    margin: 0;
    font-size: 1.1rem;
}
h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.4rem;
    color: white;
}
nav{
    display: flex;
    height: fit-content;
    margin-top: 16px;
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
}
body{
    margin: 0;
    overflow: hidden;
}
/* Hide scrollbar for Chrome, Safari and Opera
body::-webkit-scrollbar {
    display: none;
  }  
/* Hide scrollbar for IE, Edge and Firefox */
/* body{
    -ms-overflow-style: none;  /* IE and Edge */
    /* scrollbar-width: none;  /* Firefox */
/* } */ 
html{
    scroll-behavior: smooth;
    font-family: 'neue-haas-grotesk-text', sans-serif;
    margin: 0;
    line-height: 135%;
}
.step{
    margin: 50px 10% 500px 0;
}
#step-5-div{
    margin: 50px 10% 120px 0;
}
#container{
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
}
#right-column{
    min-width: 25%;
    max-width: 25%;
    padding: 25px 35px 35px 35px;
    margin-bottom: 50px;
    position: fixed;
    right: 3%;
    top: 14%;
    background-color: #e7e7e7;
    border-radius: 20px;
    height: fit-content;
    word-wrap:break-word;
}
#left-column{
    width: 70%;
    transition: width 1s;
}
.content>h2{
    font-size: 1.8rem;
    /* padding-bottom: 10px; */
}
form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width:80%;
}
.content{
    background-color:white;
    border-radius: 20px;
    padding: 25px;
    font-size: 1.1rem;
}
.content>p{
    font-size: .9rem;
    padding: 10px 0 10px 0;
}
.tip{
    background-color: #c6cbfe;
    border: 1px #5a01ba solid;
    margin-top: 30px;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    width: 65%;
    font-size: .9rem;
    justify-content: center;
    color: #5a01ba;
    opacity: 0;
    transition: opacity 1s;
}
.visible{
    display:block;
    animation-name: tip-opacity;
    animation-duration:  1s;
    opacity: 1;
}
#error{
    background-color: #fb9ebd;
    color: #bb0642;
    border: 1px #bb0642 solid;
    opacity: 1;
}
.step-subtitle-hidden{
    display:none;
}
.hidden{
    display: none;
}
.content>p{
    width: 85%;
}
.button-cont{
    margin-top: 40px;
    width: fit-content;
}
#preview-letter, .story{
    width: 90%;
    padding: 25px 35px 35px 35px;
    margin: 3% 2% 3% 2%;
    background-color: #e7e7e7;
    border-radius: 20px;
    height: fit-content;
    word-wrap:break-word;
}
.flex{
    display: flex;
}
.flex>img{
    object-fit: cover;
    width: 30%;
    height: 200px;
    margin-left: auto;
    margin-right: 0;
}
.flex>div{
    margin-right: 20px;
    width: 60%;
}
.highlighting{
    background-image: linear-gradient(#f86093, #f86093);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 100% 2px;
    transition: background-size .5s, background-position .3s ease-in .5s;
    padding: 5px 3px 5px 3px;
}
.highlighting:hover {
    background-size: 100% 100%;
    background-position: 0% 0%;
    transition: background-position .5s, background-size .3s ease-in .5s;
}


/* buttons */
button, #zip-submit{
    padding: 10px 15px 10px 15px;
    font-size: 1.1rem;
    border-radius: 25px;
}
#zip-submit{
    margin-left: 20px;
}
#close{
    background-color: #5e5e5e;
    background: linear-gradient(to left, #5e5e5e 50%, #c4c4c4 50%)right;
    background-size: 300% 100%;
    transition: .5s ease-out;
    color: white;
    border: none;
    position: fixed;
    z-index: 1;
    top: 17%;
    right: 5%;
}
#close:hover{
    background-position: left;
    border: 1px #5e5e5e solid;
    color: #5e5e5e;
    padding: 9px 14px 9px 14px;
}
.next, #zip-submit{
    background: linear-gradient(to left, #5a01ba 50%, #c6cbfe 50%)right;
    background-size: 300% 100%;
    transition: .5s ease-out;
    color: white;
    border: none;
}
.next:hover, #zip-submit:hover{
    background-position: left;
}
.next>a,.back>a{
    text-decoration: none;
    color: white;
}
.next>a:visited,.back>a:visited{
    text-decoration: none;
    color: white;
}
.next:hover,.next-inactive, #zip-submit:hover{
    background-color: #c6cbfe;
    color: #5a01ba;
    border: 1px #5a01ba solid;
    padding: 9px 14px 9px 14px;
}
.next:hover>a,.next-inactive{
    color: #5a01ba;
}
.back{
    background-color: #5e5e5e;
    background: linear-gradient(to left, #5e5e5e 50%, #e5e5e5 50%)right;
    background-size: 300% 100%;
    transition: .5s ease-out;
    margin-right: 10px;
    color: white;
    border: none;
}
.back:hover{
    background-position: left;
}
.back:hover>a,.back-inactive{
    color: #5e5e5e;
}
.back:hover,.back-inactive{
    background-color: #e5e5e5;
    color: black;
    margin-right: 10px;
    border: 1px #5e5e5e solid;
    padding: 9px 14px 9px 14px;
}

/* links */
nav>a{
    padding: 5px;
    text-decoration: none;
    height:fit-content;
    color: #f86093;
}
.step-subtitle{
    color: #f86093;
}
nav>a:hover>.step-subtitle, nav>a:hover{
    color:white;
}
.current-step, .step-subtitle{
    color: white;
}
#dynamic-letter>p>a:visited, #dynamic-letter>p>a,#dynamic-letter>a, #calls-to-action>a{
    text-decoration: none;
}
.unselected{
    color: #5a01ba;
}
.unselected:hover{
    color: #c6cbfe;
}
.selected{
    color: #f86093;
}
.selected:hover{
    color: #bb0642;
}


/* animations */
@keyframes toggle {
    from {right: 3%;}
    to {right: -30%;}
}
.hide{
    animation-name: toggle;
    animation-duration:  1s;
}
.show{
    animation-name: toggle;
    animation-duration:  1s;
    animation-direction: reverse;
}
#left-column.wide{
    width: 90%;
    transition: width 1s;
}
.anchor{
    display: block;
    position: relative;
    top: -2%;
    visibility: hidden;
}
#horizontal{
    flex-direction: row;
}
#horizontal>label{
    margin-top: auto;
    margin-bottom: auto;
}


/* form inputs */
label{
    margin-right:16px;
}
input[name="topic"]{
    position:fixed;
    opacity: 0;
    pointer-events: none;
}
.radios, .checks{
    background-color: #ebebeb;
    border: 1px black solid;
    padding: 7px;
    margin-bottom: 15px;
}
input[name="topic"]:checked + label, .clicked, input[name="topic"]:hover + label{
    background-color: #ffcbdc;
    border: 1px #bb0642 solid;
    color: #bb0642;
}
input[name="check"]:checked{
    background-color: #bb0642;
    border: none;
    accent-color: #bb0642;
}
input[name="topic"] + label{
    transition: all .3s ease-in;
}
input[name="topic"] + label:hover{
    padding-left: 30px;
}
input[type="text"]{
    font-size:1rem;
    font-family: 'neue-haas-grotesk-text', sans-serif;
}


/* mobile compatibility */
@media screen and (max-width: 992px) {
    #right-column {
      display: none;
    }
    #left-column{
        width: 95%;
    }
    h2{
        line-height: 170%;
    }
    #close{
        display: none;
    }
    html{
        font-size: .8rem;
    }
  }
  