header{
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    position: sticky;
    top: 0;
    border-bottom: 1px black solid;
    background-color: #f1f1f1;
}
h1{
    font-family: 'Roboto Mono', monospace;
}
h2{
    margin: 0;
    font-size: 1.1rem;
}
h1{
    font-size: 1.5rem;
}
nav{
    display: flex;
    height: fit-content;
    margin-top: 16px;
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
}
nav>a{
    padding: 5px;
    text-decoration: none;
    height:fit-content;
    color: black;
    transition: font-size .5s;
}
.step-subtitle{
    color: black;
}
nav>a:visited{
    color: black;
}
nav>a:hover{
    font-weight: bolder;
    font-size: 1.1rem;
    color: #F04646;
}
.step-subtitle:hover{
    color:#F04646;
}
.current-step{
    font-weight: bolder;
}
html{
    scroll-behavior: smooth;
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 125%;
}
.step{
    margin: 50px 10% 500px 0;
}
#step-5-div{
    margin: 50px 10% 120px 0;
}
#container{
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
}
#right-column{
    min-width: 25%;
    max-width: 25%;
    padding: 25px 25px 100px 25px;
    margin-bottom: 50px;
    position: sticky;
    right: 3%;
    top: 13%;
    background-color: white;
    border: 1px black solid;
    height: fit-content;
    word-wrap:break-word;
}
#left-column{
    width: 90%;
}
form{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    width:80%;
}
.content{
    background-color: white;
    border: 1px black solid;
    padding: 25px;
}
.tip{
    background-color: #C6EDFE;
    border: 1px #0097D8 solid;
    margin-top: 30px;
    padding: 20px;
    color: #0097D8;
}
.selectable{
    color: #F04646;
}
button{
    padding: 10px;
    font-size: 1.1rem;
    /* transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1; */
}
/* button:after{
    content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #FCD1D1;
border-radius: 10rem;
z-index: -2;
}
button:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #F04646;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
} */
.anchor{
    display: block;
    position: relative;
    top: -95px;
    visibility: hidden;
}
.next{
    background-color: #F04646;
    color: white;
    border: none;
}
.next>a,.back>a{
    text-decoration: none;
    color: white;
}
.horizontal{
    flex-direction: row;
}
label{
    margin-right:16px;
}
.button-cont{
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
}
input[name="topic"]{
    position:fixed;
    opacity: 0;
    pointer-events: none;
}
.radios, .checks{
    background-color: #ebebeb;
    border: 1px black solid;
    padding: 7px;
    margin-bottom: 15px;
}
input[name="topic"]:checked + label, .clicked, input[name="topic"]:hover + label{
    background-color: #FCD1D1;
    border: 1px #F04646 solid;
    color: #F04646;
}
input[name="check"]:checked{
    background-color: #F04646;
    border: none;
}
.next>a:visited,.back>a:visited{
    text-decoration: none;
    color: white;
}
.back{
    background-color: #0097D8;
    color: white;
    border: none;
}
.next:hover,.next-inactive{
    background-color: #FCD1D1;
    color: #F04646;
    border: 1px #F04646 solid;
    padding: 9px;
}
input[name="topic"] + label{
    transition: all .3s ease-in;
}
input[name="topic"] + label:hover{
    padding-left: 30px;
}
.next>a:hover,.next-inactive{
    color: #F04646;
}
.back>a:hover,.back-inactive{
    color: #0097D8;
}
.back:hover,.back-inactive{
    background-color: #C6EDFE;
    color: #0097D8;
    border: 1px #0097D8 solid;
    padding: 9px;
}
span,#dynamic-letter-story{
    color:#0097D8;
}
.step-subtitle-hidden{
    display:none;
}
.hidden{
    display: none;
}