/* general */
header{
    display: block;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    position: sticky;
    top: 0;
    background-color: #bb0642;
    z-index: 2;
}
#input-div{
    display: flex;
}
#main-header-content{
    background-color: #bb0642;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
h2, #mini-left>h2{
    margin: 0;
    line-height: 170%;
    font-size: 1.1rem;
}
.title{
    padding-left: 7%;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: white;
}
.title>h1{
    margin-bottom: 0;
    font-size: 1.4rem;
}
.title>h2{
    margin-top: 0;
    margin-bottom: 10px;
}
nav{
    display: flex;
    height: fit-content;
    padding-right: 7%;
    margin-top: 22px;
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
    margin-bottom: 0;
}
img{
    padding-top: 20px;
    width: 70%;
}
body{
    margin: 0;
}
ul{
    padding-left: 20px;
}
ul>li{
    line-height: 140%;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
html{
    scroll-behavior: smooth;
    font-family: 'neue-haas-grotesk-text', sans-serif;
    margin: 0;
    line-height: 135%;
    background-color: #f5f5f7;
    color: #2E3136;
}
a{
    text-decoration: none;
    width: fit-content;
}
.step{
    margin: 50px 10% 100% 0;
}
#step-5-div{
    margin: 50px 10% 120px 0;
}
#container{
    display: flex;
    margin-left: 6%;
    margin-right: 6%;
}
#progress-bar{
    background-color: #c6cbfe;
    height: 3%;
    width: 100%;
}
#percent-done{
    height: 100%;
    width: 0%;
    background-color: #5a01ba;
    transition: width .5s;
    z-index: 1;
}
#right-column{
    min-width: 30%;
    padding: 45px 55px 35px 55px;
    margin-bottom: 50px;
    position: fixed;
    top: 16%;
    /* background-color: #f8e8e8; */
    background-color: white;
    border-radius: 2px;
    filter: drop-shadow(2px 2px 5px rgb(159, 159, 159));
    overflow-y: auto;
    max-height: 70%;
    height: fit-content;
    word-wrap:break-word;
    transition: right 1s, width 1s, max-width 1s;
}
#intro{
    padding-bottom: 20px;
    font-size: 1.2rem;
}
#end{
    padding-top: 20px;
    padding-bottom: 20px;
}
#submit-button{
    display: none;
}
#left-column{
    width: 50%;
    transition: width 1s;
}
.content>h2{
    font-size: 1.8rem;
    /* padding-bottom: 10px; */
}
form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width:80%;
}
#form-5{
    margin-bottom: 0;
}
.content{
    padding: 0px 25px 25px 25px;
    font-size: 1.1rem;
}
.content>p{
    font-size: .9rem;
    padding: 10px 0 10px 0;
}
.tip{
    background-color: #c6cbfe;
    border: 1px #5a01ba solid;
    margin-top: 30px;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    width: fit-content;
    font-size: .9rem;
    justify-content: center;
    color: #5a01ba;
    opacity: 0;
    transition: opacity 1s;
    font-family: "Roboto-Mono", monospace;
}
#tip-5{
    margin-top: 15px;
    font-size: .8rem;
}
.tip>p{
    margin: 10px 0 10px 0;
}
.visible{
    display:block;
    animation-name: tip-opacity;
    animation-duration:  1s;
    opacity: 1;
}
#error{
    background-color: #fb9ebd;
    color: #bb0642;
    border: 1px #bb0642 solid;
    opacity: 1;
}
#representative-form{
    margin-top: 14%;
}
.step-subtitle-hidden{
    display:none;
}
.hidden{
    display: none !important;
}
.content>p{
    width: 85%;
}
.button-cont{
    margin-top: 20px;
    width: fit-content;
}
#button-cont-5{
    margin-top: 0px;
    width: fit-content;
}
#preview-letter, .story{
    width: 90%;
    padding: 25px 35px 35px 35px;
    margin: 3% 2% 3% 2%;
    background-color: white;
    border-radius: 20px;
    height: fit-content;
    word-wrap:break-word;
}
.flex{
    display: flex;
}
.flex>img{
    object-fit: cover;
    width: 30%;
    height: 200px;
    margin-left: auto;
    margin-right: 0;
}
.flex>div{
    margin-right: 20px;
    width: 60%;
}
.highlighting{
    background-image: linear-gradient(#f86093, #f86093);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 100% 2px;
    transition: background-size .5s, background-position .3s ease-in .5s;
    padding: 5px 3px 5px 3px;
    cursor: pointer;
}
.highlighting:hover {
    background-size: 100% 100%;
    background-position: 0% 0%;
    transition: background-position .5s, background-size .3s ease-in .5s;
}


/* buttons */
button, #zip-submit{
    padding: 10px 15px 10px 15px;
    font-size: 1.1rem;
    border-radius: 25px;
    cursor: pointer;
}
#zip-submit{
    margin-left: 20px;
}
#close{
    background-color: #5e5e5e;
    background: linear-gradient(to left, #5e5e5e 50%, #c4c4c4 50%) right;
    background-size: 300% 100%;
    transition: .5s ease-out;
    color: white;
    border: none;
    position: fixed;
    z-index: 1;
    top: 19%;
    right: 10%;
}
#close:hover{
    background-position: left;
    border: 1px #5e5e5e solid;
    color: #5e5e5e;
    padding: 9px 14px 9px 14px;
}
.next, #zip-submit{
    background: linear-gradient(to left, #5a01ba 50%, #c6cbfe 50%) right;
    background-size: 300% 100%;
    transition: .5s ease-out;
    color: white;
    border: none;
}
.next:hover, #zip-submit:hover{
    background-position: left;
}
.next>a,.back>a{
    text-decoration: none;
    color: white;
}
.next>a:visited,.back>a:visited{
    text-decoration: none;
    color: white;
}
.next:hover,.next-inactive, #zip-submit:hover{
    background-color: #c6cbfe;
    color: #5a01ba;
    border: 1px #5a01ba solid;
    padding: 9px 14px 9px 14px;
}
.next:hover>a,.next-inactive{
    color: #5a01ba;
}
.back{
    background-color: #5e5e5e;
    background: linear-gradient(to left, #5e5e5e 50%, #e5e5e5 50%) right;
    background-size: 300% 100%;
    transition: .5s ease-out;
    margin-right: 10px;
    color: white;
    border: none;
}
.back:hover{
    background-position: left;
}
.back:hover>a,.back-inactive{
    color: #5e5e5e;
}
.back:hover,.back-inactive{
    background-color: #e5e5e5;
    color: black;
    margin-right: 10px;
    border: 1px #5e5e5e solid;
    padding: 9px 14px 9px 14px;
}

/* links */
nav>a{
    padding: 5px 5px 5px 15px;
    font-size: 1.1rem;
    text-decoration: none;
    height:fit-content;
    color: #f86093;
}
.step-subtitle{
    color: #f86093;
}
nav>a:hover>.step-subtitle, nav>a:hover{
    color:white;
}
.current-step, .step-subtitle, .current{
    color: white;
}
#dynamic-letter>p>a:visited, #dynamic-letter>p>a,#dynamic-letter>a, #calls-to-action>a{
    text-decoration: none;
}
.unselected{
    color: #5a01ba;
}
.unselected:hover{
    color: #c6cbfe;
}
.selected{
    color: #bb0642;
    transition: font-size 1s;
    cursor: pointer;
}
.selected:hover{
    color: #fdb2cb;
}
.anchor{
    display: block;
    position: relative;
    top: -4.5%;
    visibility: hidden;
}
.hide-left{
    width: 10% !important;
    visibility: hidden;
}


/* animations */
@keyframes toggle {
    from {right: 8%;}
    to {right: -30%;}
}
.hide{
    /* animation-name: toggle;
    animation-duration:  1s; */
    max-width: 30%;
    right: -40%;
}
.show{
    /* animation-name: toggle;
    animation-duration:  1s;
    animation-direction: reverse; */
    right: 8%;
    max-width: 30%;
}
@keyframes preview-toggle{
    from {right: 3%; width:25%;}
    to {right: 60%; width:80%;}
}
#left-column.wide{
    width: 100%;
    transition: width 1s;
}
.full-preview{
    width: 80%;
    max-width: 80%;
    right: 8%;
}
.anchor{
    display: block;
    position: relative;
    top: -2.5%;
    visibility: hidden;
}
#select-representatives{
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}
#horizontal{
    flex-direction: row;
}
#horizontal>label{
    margin-top: auto;
    margin-bottom: auto;
}


/* form inputs */
label{
    margin-right:16px;
    margin-left: 5px;
}
input{
    font-size: 1.1rem;
}
.checks>label,.radio>label, input[type="checkbox"], input[type="radio"]{
    cursor: pointer;
}
.checks, .radio{
    background-color: #ebebeb;
    border: 1px black solid;
    padding: 10px 20px 10px 10px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    width: 100%;
    transition: all .3s ease-in;
    cursor: pointer;
}
.radio:hover, .checks:hover{
    /* background-color: #ffcbdc;
    border: 1px #bb0642 solid;
    color: #bb0642; */
    padding-left: 30px;
    padding-right: 0;
}
.clicked{
    border: 1px #bb0642 solid;
    background-color: #ffcbdc;
    color: #bb0642;
}


/* mobile compatibility */
@media screen and (max-width: 992px) {
    ul>li{
        font-size: 1.7rem;
        padding-bottom: 10px;
        line-height: 140%;
    }
    ul{
        padding-left: 40px;
    }
    #container{
        flex-direction: column;
    }
    #right-column {
      min-width: 95%;
      width: 100%;
      position: relative;
      margin-top: 2%;
    }
    .show{
        width: 100%;
    }
    form{
        width: 100%;
    }
    nav{
        display: none;
    }
    #left-column{
        width: 100%;
        justify-content: center;
    }
    .button-cont, #button-cont-5{
        margin-top: 40px;
    }
    #horizontal{
        flex-direction: column;
    }
    button, #zip-submit{
        width: fit-content;
        padding: 27px 37px;
        font-size: 1.7rem;
        border-radius: 65px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    input[type="checkbox"], input[type="radio"]{
        width: 45px;
        height: 45px;
    }
    .step{
        margin: 5% 10% 180% 0;
    }
    .anchor{
        top: -12vh;
    }
    .title{
        font-size: 1rem;
    }
    .title>h1{
        font-size: 1.3rem;
    }
    #close{
        display: none;
    }
    html{
        font-size: 1.6rem;
        line-height: 195%;
    }
    .flex{
        flex-direction: column;
    }
    .flex>div, .flex>img{
        width: 95%;
        margin: 0;
    }
    .tip{
        font-size: 1rem;
    }
    .flex>img{
        height: 400px;
    }
    .story{
        margin-top: 40px;
    }
    .content{
        font-size: 1.8rem;
    }
    .content>p{
        font-size: 1.5rem;
        width: 100%;
        margin-bottom: 50px;
    }
    .content>h2{
        font-size: 2.3rem;
    }
    .checks, .radio{
        font-size: 1.6rem;
        transition: all .15s ease-in;
    }
    input[type="text"]{
        font-size: 1.8rem;
        width: 50%;
    }
    textarea{
        font-size: 1.8rem;
        margin-top: 30px;
        height: 50%;
    }
    #step-5-div{
        margin: 50px 10% 25vh 0;
    }
    #select-representatives{
        top: -8vh;
    }
  }
  

/* Hover Text Animation */
#step-1-header:hover span:nth-child(-n+5), #step-2-header:hover span:nth-child(-n+5), #step-3-header:hover span:nth-child(-n+5), #step-4-header:hover span:nth-child(-n+5), #step-5-header:hover span:nth-child(-n+5){
   position: relative;
   display: inline-block;
   animation: flip .5s; 
   animation-delay: calc(.1s * var(--i) - .5s);
}

.current-step:hover span>span{
    position: relative;
    display: inline-block;
    animation: flip .9s; 
    animation-delay: calc(.1s * var(--i) - 1s);
}

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}




.active-text{
    font-size: 1.2rem;
    font-weight: bold;
    animation: flip 1s;
    animation-delay: .3s;
}
#dynamic-letter-story, #dynamic-letter-name{
    width: fit-content;
}


/* gradient background*/
.css-selector {
    padding: 5% 0 5% 0;
    background: linear-gradient(34deg, #5a01ba, #f86093, #fdb2cb, #c6cbfe);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 8s ease infinite;
    -moz-animation: AnimationName 8s ease infinite;
    animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}