/* general */
header{
    display: block;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    position: sticky;
    top: 0;
    background-color: #bb0642;
    z-index: 2;
}
#input-div{
    display: flex;
}
#main-header-content{
    background-color: #bb0642;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
h2, #mini-left>h2{
    margin: 0;
    line-height: 170%;
    font-size: 1.1rem;
}
.title{
    padding-left: 7%;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: white;
}
.title>h1{
    margin-bottom: 0;
    font-size: 1.4rem;
}
.title>h2{
    margin-top: 0;
    margin-bottom: 10px;
}
nav{
    display: flex;
    padding-right: 7%;
    margin: 22px 0 0 auto;
}
img{
    padding-top: 20px;
    width: 70%;
}
body{
    margin: 0;
}
ul{
    padding-left: 20px;
}
ul>li{
    line-height: 140%;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
html{
    scroll-behavior: smooth;
    font-family: 'neue-haas-grotesk-text', sans-serif;
    margin: 0;
    line-height: 135%;
    background-color: #f5f5f7;
    color: #2E3136;
}
a{
    text-decoration: none;
    width: fit-content;
}
.tip{
    background-color: #c6cbfe;
    border: 1px #5a01ba solid;
    margin-top: 30px;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    width: fit-content;
    font-size: .9rem;
    justify-content: center;
    color: #5a01ba;
    opacity: 0;
    transition: opacity 1s;
    font-family: "Roboto-Mono", monospace;
}
.tip>p{
    margin: 10px 0 10px 0;
}
.visible{
    display:block;
    animation-name: tip-opacity;
    animation-duration:  1s;
    opacity: 1;
}
.hidden{
    display: none !important;
}
.flex{
    display: flex;
}
.flex>img{
    object-fit: cover;
    width: 30%;
    height: 200px;
    margin-left: auto;
    margin-right: 0;
}
.flex>div{
    margin-right: 20px;
    width: 60%;
}
.highlighting{
    background-image: linear-gradient(#f86093, #f86093);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 100% 2px;
    transition: background-size .5s, background-position .3s ease-in .5s;
    padding: 5px 3px 5px 3px;
    cursor: pointer;
}
.highlighting:hover {
    background-size: 100% 100%;
    background-position: 0% 0%;
    transition: background-position .5s, background-size .3s ease-in .5s;
}




/* buttons */
button, #zip-submit{
    padding: 10px 15px 10px 15px;
    font-size: 1.1rem;
    border-radius: 25px;
    cursor: pointer;
}
.next, #zip-submit{
    background: linear-gradient(to left, #5a01ba 50%, #c6cbfe 50%) right;
    background-size: 300% 100%;
    transition: .5s ease-out;
    color: white;
    border: none;
}
.next:hover, #zip-submit:hover{
    background-position: left;
}
.next>a,.back>a{
    text-decoration: none;
    color: white;
}
.next>a:visited,.back>a:visited{
    text-decoration: none;
    color: white;
}
.next:hover,.next-inactive, #zip-submit:hover{
    background-color: #c6cbfe;
    color: #5a01ba;
    border: 1px #5a01ba solid;
    padding: 9px 14px 9px 14px;
}
.next:hover>a,.next-inactive{
    color: #5a01ba;
}




/* links */
nav>a{
    padding: 5px 5px 5px 15px;
    font-size: 1.1rem;
    text-decoration: none;
    height:fit-content;
    color: #f86093;
}
nav>a:hover{
    color:white;
}
.current-step, .current{
    color: white;
}
.anchor{
    display: block;
    position: relative;
    top: -2.5%;
    visibility: hidden;
}





/* Hover Text Animation */
#step-1-header:hover span:nth-child(-n+5), #step-2-header:hover span:nth-child(-n+5), #step-3-header:hover span:nth-child(-n+5), #step-4-header:hover span:nth-child(-n+5), #step-5-header:hover span:nth-child(-n+5){
    position: relative;
    display: inline-block;
    animation: flip .5s; 
    animation-delay: calc(.1s * var(--i) - .5s);
 }
 .current-step:hover span>span{
     position: relative;
     display: inline-block;
     animation: flip .9s; 
     animation-delay: calc(.1s * var(--i) - 1s);
 }
 @keyframes flip {
   0%,80% {
     transform: rotateY(360deg) 
   }
 }




/* mobile compatibility */
@media screen and (max-width: 992px) {
    nav{
        display: none;
    }
    button, #zip-submit{
        width: fit-content;
        padding: 27px 37px;
        font-size: 1.7rem;
        border-radius: 65px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .anchor{
        top: -12vh;
    }
    .title{
        font-size: 1rem;
    }
    .title>h1{
        font-size: 1.3rem;
    }
    html{
        font-size: 1.6rem;
        line-height: 195%;
    }
    .flex{
        flex-direction: column;
    }
    .flex>div, .flex>img{
        width: 95%;
        margin: 0;
    }
    .tip{
        font-size: 1rem;
    }
    .flex>img{
        height: 400px;
    }
    .next, .next-inactive, #zip-submit{
        padding: 9px 14px 9px 14px;
    }
  }