header{
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    position: sticky;
    top: 0;
    /* border-bottom: 1px black solid; */
    background-color: black;
}
h2{
    margin: 0;
    font-size: 1.1rem;
}
h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    color: white;
}
nav{
    display: flex;
    height: fit-content;
    margin-top: 16px;
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
}
nav>a{
    padding: 5px;
    text-decoration: none;
    height:fit-content;
    color: #909090;
}
.step-subtitle{
    color: #909090;
}
nav>a:hover>.step-subtitle, nav>a:hover{
    color:#F04646;
}
.current-step, .step-subtitle{
    color: white;
}
body{
    margin: 0;
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
    background-color: #c4c4c4;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 125%;
}
.step{
    margin: 50px 10% 500px 0;
}
#step-5-div{
    margin: 50px 10% 120px 0;
}
#container{
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
}
#right-column{
    min-width: 25%;
    max-width: 25%;
    padding: 35px;
    margin-bottom: 50px;
    position: fixed;
    right: 3%;
    top: 14%;
    background-color: white;
    border: 1px black solid;
    height: fit-content;
    word-wrap:break-word;
}
#left-column{
    width: 70%;
    transition: width 1s;
}
form{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    width:80%;
}
.content{
    background-color: white;
    border: 1px black solid;
    padding: 25px;
}
.tip{
    background-color: #C6EDFE;
    border: 1px #0097D8 solid;
    margin-top: 30px;
    padding: 20px;
    color: #0097D8;
}
.selectable{
    color: #F04646;
}
.selectable:hover{
    color: #bb0606;
}
button{
    padding: 10px;
    font-size: 1.2rem;
}
#close{
    background-color: black;
    background: linear-gradient(to left, black 50%, #c4c4c4 50%)right;
    background-size: 300% 100%;
    transition: .5s ease-out;
    color: white;
    border: none;
    position: fixed;
    z-index: 1;
    top: 16%;
    right: 4%;
}
#close:hover{
    background-position: left;
    border: 1px black solid;
    color: black;
    padding: 9px;
}
@keyframes toggle {
    from {right: 3%;}
    to {right: -30%;}
}
.hide{
    animation-name: toggle;
    animation-duration:  1s;
}
.show{
    animation-name: toggle;
    animation-duration:  1s;
    animation-direction: reverse;
}
#left-column.wide{
    width: 90%;
    transition: width 1s;
}
.anchor{
    display: block;
    position: relative;
    top: -95px;
    visibility: hidden;
}
.next{
    background: linear-gradient(to left, #F04646 50%, #FCD1D1 50%)right;
    background-size: 300% 100%;
    transition: .5s ease-out;
    color: white;
    border: none;
}
.next:hover{
    background-position: left;
}
.next>a,.back>a{
    text-decoration: none;
    color: white;
}
.horizontal{
    flex-direction: row;
}
label{
    margin-right:16px;
}
.button-cont{
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
}
input[name="topic"]{
    position:fixed;
    opacity: 0;
    pointer-events: none;
}
.radios, .checks{
    background-color: #ebebeb;
    border: 1px black solid;
    padding: 7px;
    margin-bottom: 15px;
}
input[name="topic"]:checked + label, .clicked, input[name="topic"]:hover + label{
    background-color: #FCD1D1;
    border: 1px #F04646 solid;
    color: #F04646;
}
input[name="check"]:checked{
    background-color: #F04646;
    border: none;
    accent-color: #F04646;
}
.next>a:visited,.back>a:visited{
    text-decoration: none;
    color: white;
}
.back{
    background-color: #0097D8;
    background: linear-gradient(to left, #0097D8 50%, #C6EDFE 50%)right;
    background-size: 300% 100%;
    transition: .5s ease-out;
    color: white;
    border: none;
}
.back:hover{
    background-position: left;
}
.next:hover,.next-inactive{
    background-color: #FCD1D1;
    color: #F04646;
    border: 1px #F04646 solid;
    padding: 9px;
}
input[name="topic"] + label{
    transition: all .3s ease-in;
}
input[name="topic"] + label:hover{
    padding-left: 30px;
}
.next:hover>a,.next-inactive{
    color: #F04646;
}
.back:hover>a,.back-inactive{
    color: #0097D8;
}
.back:hover,.back-inactive{
    background-color: #C6EDFE;
    color: #0097D8;
    border: 1px #0097D8 solid;
    padding: 9px;
}
span,#dynamic-letter-story{
    color:#0097D8;
}
.step-subtitle-hidden{
    display:none;
}
.hidden{
    display: none;
}
.content>p{
    width: 85%;
}